html{
	cursor: url('imagem/mata-mosquito.png') 30 30, auto;
}
body{
	height: 100vh;
	background-image:url('imagem/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
@media (max-width: 767px) {
	html {
		margin:0;
		padding: 0;
	}
}
@media (max-width: 767px) {
	body {
		margin: 0;
		padding: 0;
		background: url('imagem/bg.jpg'); /* Imagem de fundo para celular */
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		/* Outros estilos específicos para telas de celular */
	}
}

.mosquito1{
	width: 50px;
	height: 50px;
	cursor: url('imagem/mata-mosquito.png');
}
.mosquito2{
	width: 100px;
	height: 100px;
	cursor: url('imagem/mata-mosquito.png');
}

.mosquito3{
	width: 200px;
	height: 200px;
	cursor: url('imagem/mata-mosquito.png');
}

.ladoA{
	transform: scaleX(1); 
	/*essa já é a posição original*/
}
.ladoB{
	transform: scaleX(-1);
}

.painel{
	position:absolute;
	width: 190px;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}
